menu "ADV350 Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"

    config WIFI_PASS
        string "WiFi Password"
        default "mypassword"

    choice DEFAULT_MODE
        prompt "Default boot mode"
        default DEFAULT_MODE_DEV

        config DEFAULT_MODE_DEV
            bool "DEV (WiFi + OTA)"

        config DEFAULT_MODE_PROD
            bool "PRODUCTION (BLE + CAN)"

    endchoice

endmenu
